.finalizacao-card {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    text-align: center;
}

.finalizacao-card h2 {
    font-size: 1.25rem;
    font-weight: normal;
    color: #0b572a;
    margin-bottom: 15px;
}

.finalizacao-card p {
    font-size: 0.8125rem;
    color: #333;
    line-height: 1.7;
}
